{% extends '@CompanyAdmin/layout.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-sm-offset-4 col-sm-4 text-center" style="background-color:#ed9109;padding-top:30px;padding-bottom:30px;">
        <p>{{ message.name }}, le {{ message.datecreation|date('d/m/Y') }}</p>
        <p>{{ message.mail }}</p>
        <textarea>{{ message.content }}</textarea>
        
        {# add contact form template checkbox #}

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.checked) }}
        {{ form_errors(form.checked) }}
        {{ form_widget(form.checked) }}
        {{ form_end(form) }}
    </div>    
    </div>
{% endblock %}